@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#buttonBurger{
  display:none;
}

#menuBurger{
  display:none;
}

body{
  margin:0 250px;
  font-family: 'Roboto', sans-serif;
}

h1{
  color:#004e66;
  font-size:18px;
  margin-left:8px;
}

header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  margin-left:12px;
}

#headerLeft{
  display:flex;
  align-items: center;
  width:fit-content;
}

.headerRight{
  display: flex;
  justify-content: space-between;
  width:60%;
  margin-right:30px;
}

.headerRight>a{
  text-decoration: none;
  color:#004e66;
}

#home{
  color:#ff5f2e;
}

.imgTop{
  background: url('https://picsum.photos/id/201/1500/200');
  width:100%;
  height:160px;
  margin-top: 15px;
  margin-bottom:50px;
}

.backBlack{
  background-color: #00000088;
  height:160px;
}

.terms{
  color:white;
  text-align: center;
  font-size: 50px;
  letter-spacing: 6px;
  font-weight: bold;
  padding-top:40px;
  padding-bottom:40px;
}

.contentMiddle{
  padding-left:20px;
  line-height: 25px;
}

.contentMiddle>h3{
  border-left:4px solid #ff4800;
  padding:8px;
  font-size:22px;
}

.contentMiddle>p>span{
  color:#00849b;
  font-weight: bold;
}

.contentMiddle>ul{
  font-size:17px;
}

.footerTop{
  background-color:#004e66;
  height:120px;
  display:flex;
}

.elemFooterLeft{
  display:flex;
  justify-content: space-around;
  width:50%;
}

.elemFooterRight{
  display:flex;
  justify-content: space-around;
  width:50%;

}

.imgFooter{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
  margin-top:20px;
}

.imgFooter>h3{
  font-size:15px;
}

.footerMiddle{
  background-color: #e1eef6;
  height:200px;
  display: flex;
  justify-content: space-between;
  padding-right:100px;
  padding-left:15px;
}

.txtFooter{
  display: flex;
  flex-direction: column;
  width:fit-content;
  height: fit-content;
  margin-top:20px;
  margin-left:5px;
}

.txtFooter>span, .txtFooter>a{
  margin-bottom: 8px;
}

.bold{
  font-weight: bold;
}

.blueTxt{
  color:#004e66;
  text-decoration: none;
}

.sizeBold{
  font-weight: bold;
  font-size: 25px;
}

.footerBottom{
  height:25px;
  background-color:#ff5f2e;
  margin-bottom:40px;
}

/*** Responsive ***/

/* Large */
@media (min-width: 992px) and (max-width: 1199.98px) {
  body{
    margin:0 205px; 
  }

}
  
/* Medium */
@media (min-width: 768px) and (max-width: 991.98px){
  body{
    margin:0 100px;
  }

  .imgFooter>img{
    width:50px;
  }

  .imgFooter>h3{
    font-size:13px;
  }

  .footerMiddle{
    padding-right: 50px;
  }
}
  
/* Mobile */
@media (max-width: 767.98px){
  body{
    margin:0;
  }

  header{
    display: block;
  }

  #headerLeft{
    margin:auto;  
  }

  #headerLeft>h1{
    font-size:23px;
  }

  .logo{
    margin-right:10px;
  }

  #buttonBurger{
    display:block;
    margin-right:10px;
  }

  /* Crée en js */
  #menuBurger{
    background-color:#004e66;
    text-align: center;
    width:250px;
    display:block;
    margin:-20px auto 0 auto;
  }

  #list-menu{
    list-style: none;
    padding:8px 0;
  }

  #list-menu>li>a{
    text-decoration: none;
    color:white;
    line-height: 0;
    transition-property: font-size;
    transition-duration: 0.5s;
  }

  #list-menu>li>a:hover{
    font-size:20px;
  }
  /****/

  .headerRight{
    display: none;
  }

  .footerTop{
    width:480px;
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin:auto;
  }

  .elemFooterLeft, .elemFooterRight{
    width:100%;
  }

  .imgFooter{
    width:150px;
    text-align: center;
  }

  .footerMiddle{
    width:480px;
    display:flex;
    flex-direction:column;
    height:fit-content;
    text-align:center;
    margin:auto;
    padding:0;
  }

  .txtFooter{
    margin:10px auto;
  }

  .footerBottom{
    width:480px;
    margin:auto;
    margin-bottom:30px;
  }
}

@media (max-width: 575.98px){
  .terms{
    padding-top:20px;
  }
}